.widget {
  display: flex;
  flex-direction: column;
  width: 250px;
  row-gap: 16px;
  margin: 0 auto;
}

.widget p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
}

.change-color {
  font-family: "Montserrat", sans-serif;
  width: 148px;
  height: 40px;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  background-color: #4E75FF;
}