#controls {
  display: flex;
  width: 486px;
  height: 104px;
  align-items: center;
  justify-content: space-between;
  padding: 32px;
  background-color: #F6F6FE;
  border-radius: 8px;
  column-gap: 16px;
}

#controls input {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
  text-align: center;
}

/* Приховати стрілки для поля вводу типу "number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
}

#controls button {
  width: 120px;
  height: 40px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04px;
  border: none;
  color: #ffffff;
}

#controls button[data-create] {
  background-color: #4E75FF;
}

#controls button[data-destroy] {
  background-color: #FF4E4E;
}

#controls button[data-create]:hover {
  background-color: #6C8CFF;
}

#controls button[data-destroy]:hover {
  background-color: #FF7070;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 32px;
  background-color: #F6F6FE;
  margin-top: 16px;
  border-radius: 8px;
}